[data-behaviour~=choropleth-map]{
  position: relative;
  margin-top: 100px;
  border: #ddd solid 1px;
}

[data-behaviour~=choropleth-map] #map {
  width :100%;
  height:100vh;
}

[data-behaviour~=choropleth-map] .loader{
  width           : 100%;
  height          : 100%;
  background-color: #fff;
  padding-top     : 30px;
  position        : absolute;
  top             : 0;
  left            : 0;
  z-index         : 700;
}
[data-behaviour~=choropleth-map] .loader h3{
  color:#555;
  text-align: center;
  margin-top: 20%;
}
[data-behaviour~=choropleth-map] .leaflet-popup-content table {max-width:100%;padding:0 5px;font-size:13px;}
[data-behaviour~=choropleth-map] table th,[data-behaviour~=choropleth-map] table td {border:1px solid #eee;padding:3px;text-align: center;}
[data-behaviour~=choropleth-map] .key{
  position      : absolute;
  bottom        : 40px;
  left          : 10px;
  line-height   : 18px;
  color         : #555;
  background    : rgba(255,255,255,0.9);
  box-shadow    : 0 0 15px rgba(0,0,0,0.2);
  border        : 1px solid #777;
  padding       : 10px;
  max-width     : 350px;
  border-radius : 0;
  min-width     : 200px;
  min-height    : 50px;
  z-index       : 400;
}
[data-behaviour~=choropleth-map] .key i {
	font-style  : normal;
	display     : inline-block;
	font-size   : 13px;
  width       : 10px;
  height      : 10px;
  margin-right: 5px;
  background  : #000;
}
[data-behaviour~=choropleth-map] .key p {font-size: 12px;}

[data-behaviour~=choropleth-map] .boxed{
	width:4px;
	height:4px;
	border:1px solid #ddd;
	margin:0 5px;
}

[data-behaviour~=choropleth-map] .lowest{background-color:#f21202;}
[data-behaviour~=choropleth-map] .low{background-color:#ef5f21;}
[data-behaviour~=choropleth-map] .high{background-color:#ede20e;}
[data-behaviour~=choropleth-map] .highest{background-color:#9bd608;}

[data-behaviour~=choropleth-map] .title{
	position: absolute;
	z-index: 500;
	left:80px;
	top:2px;
	width:100%;
  max-width: 350px;
	/*background-color:rgba(255,255,255,0.5);*/
	padding: 0;
	text-shadow: 1px 1px 1px #303030;
}
[data-behaviour~=choropleth-map] .title a,[data-behaviour~=choropleth-map] .title button {
	margin:17px 0px 10px 10px;
}

[data-behaviour~=choropleth-map] #close{}
[data-behaviour~=choropleth-map] .open{
	color:#fff;
	font-size:12px;
}
[data-behaviour~=choropleth-map] .padded{padding:4px;border:1px solid #aaa;font-size:12px;}

[data-behaviour~=choropleth-map] #info-panel::-webkit-scrollbar { width: 0 !important }

[data-behaviour~=choropleth-map] .statelabel{
  color:black;
  font-size: 10px;
  text-align: center;
}

[data-behaviour~=choropleth-map] .map_sidebar_open{
  position: absolute;
  z-index: 500;
  top:10px;
  right:10px;
}

[data-behaviour~=choropleth-map] .map_sidebar{
  position: absolute;
  z-index: 600;
  width: 100%;
  max-width: 350px;
  background-color: #F5F5F5;
  height:100vh;
  top:0;
  right:0;
  padding: 20px;
  border-left: 2px solid #444;
  transition: all 1.0s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: center right;
  display: none;
  opacity: 0;
}

[data-behaviour~=choropleth-map] .map_overlay{
  display: none;
  position: absolute;
  z-index: 550;
  width:100%;
  background-color: rgba(0,0,0,0.6);
  height:100vh;
  opacity: 0;
  top:0;
  left:0;
  transition: all 0.5s ease-in-out;
}

[data-behaviour~=choropleth-map] .activated{
  display: block;
  opacity: 1;
}

[data-behaviour~=choropleth-map] #map_sidebar_dismiss{

}

[data-behaviour~=choropleth-map] .leaflet-popup-content-wrapper,[data-behaviour~=choropleth-map] .leaflet-popup-tip{
  border-radius: 2px;
}
