.submit{
	margin: 20px 0px ;
	padding: 10px 15px;
	background: #eee;
	border: #ddd solid 1px;
	min-width: 200px;
}
form.soah-fep{
	width: 100%;
	max-width:600px;
	margin-left:auto;
	margin-right:auto;
	padding: 50px 30px;

}

form.soah-fep .form-field{
	margin-bottom: 30px;
}

form.soah-fep label{
	display: block;
}

form.soah-fep input[type=text], input[type=number], input[type=email], form.soah-fep textarea, form.soah-fep select{
	width: 100%;
	padding: 10px 15px;
}
form.soah-fep input[type=date]{
	padding: 5px 15px;
}

form.soah-fep h3{
	margin-bottom: 20px;
}

form.soah-fep .section-desc{
	margin-bottom: 30px;
}

form.soah-fep .box{
	border: #eee solid 1px;
	padding: 20px;
	margin-bottom: 30px;
	background: #fcfcfc;
}

form.soah-fep .form-categories ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
}

form.soah-fep .form-categories ul li{

	background: #eee;
	/*
	margin-right: 20px;
	margin-bottom: 20px;
	*/
	margin: 0;
	display: block;
	min-height: 30px;
	padding: 10px;
	width: 100%;
}

form.soah-fep .form-multi-fields{
	max-width: 400px;
}

form.soah-fep .form-multi-fields .add-btn{ float: left; margin-top: 4px;}

form.soah-fep .form-multi-fields .multi-image-wrapper{
	margin-bottom: 8px;
}

form.soah-fep .form-multi-fields .multi-text-wrapper{
	margin-bottom: 5px;
}

form.soah-fep .form-multi-fields .multi-text-wrapper input[type=text]{
	width: 90%;
	padding: 0;
}

@media( min-width: 768px ){
	form.soah-fep .grid-2 .section-fields{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 20px;
	}
}

@media screen and (max-width: 768px) {
  .form-links {
    margin-top: 55px;
		margin-bottom: 55px;
  }
}
