.orbit-form-group [data-behaviour~=bt-dropdown-checkboxes] button,
.orbit-form-group select{
  width: 100%;
}

.orbit-form-group [data-behaviour~=bt-dropdown-checkboxes] button,
button.btn,
button[type=submit],
[data-behaviour~=oq-ajax-loading]{
  border-radius: 0;
  min-width: 200px;
  padding: 10px 15px;
}

[data-behaviour~=oq-ajax-loading]{
  background: #333;
  color: #fff;
  border: #000 solid 1px;
}

.orbit-form-group [data-behaviour~=bt-dropdown-checkboxes] button{
  border: #ddd solid 1px;
  background: #eee;
  color: #333;
}


.orbit-form-group [data-behaviour~=bt-dropdown-checkboxes] button{
  background: #fff;
  text-align: left;
}

.orbit-form-group [data-behaviour~=bt-dropdown-checkboxes] button .caret{
  margin-top: 10px;
  margin-right: -5px;
  float: right;
}

.orbit-form-group select{
  padding: 10px 15px;
}

.leaflet-popup-content{
  max-width: 300px !important;
}
/* Pagination */
.page-numbers{
   border: 1px solid #ddd; /* Gray */
  display: inline-block;
  text-align: center;
  padding: 4px;
  float: left;
  padding: 8px 16px;
  color: #000;
  cursor: pointer;
}
a.page-numbers{
  text-decoration: none;
  transition: background-color .3s;
}
span.current{
  background-color: #d4474d;
  color: white;
}
a.page-numbers:hover:not(.current) {background-color: #ddd;}
